<nav class="navbar">
    <div class="nav-left">
        <h3>Hotel App</h3>
    </div>

    <div class="nav-right">
        <button (click)="goToCreateHotel()" class="config-button-menu">Registrar Hotel</button>
        <button (click)="logout()" class="config-button-menu">Cerrar sesión</button>
    </div>
</nav>

<nav>
    <div class="card-body">
        <div class="top-box">
            <nav class="search-box">
                <input type="search" class="search-box" placeholder="Buscar">
                <button class="button-search">Buscar</button>
            </nav>

        </div>
        <div class="table-box">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Departamento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hotel of hotels">
                        <td>{{hotel?.hotelCodigo}}</td>
                        <td>{{hotel?.nombre}}</td>
                        <td>{{hotel?.ciudad}}</td>
                        <td>{{hotel?.departamento}}</td>
                        <td>hola mundo</td>
                    </tr>
                </tbody>

            </table>
        </div>
        
    </div>
</nav>
