<nav class="navbar">
    <div class="nav-left">
        <h3>Hotel App</h3>
    </div>

    <div class="nav-right">
        <button (click)="goToCancelReservation()" class="btn-nav">Cancelar Reserva</button>
        <button class="nav-btn" (click)="goToClientes()">Clientes</button>
        <button class="nav-btn" (click)="goToTareasHorarios()">Tareas y horarios</button>
        <button (click)="logout()">Cerrar sesión</button>
    </div>
</nav>

<main class="content">
    <div class="container">
        <h2>Bienvenido a Hotel App</h2>
    </div>
</main>
