<nav class="navbar">
    <div class="nav-left">
        <h3>Hotel App</h3>
    </div>

    <div class="nav-right">
        <button (click)="goToConfig()" class="btn-nav">Configuración</button>
        <button (click)="goToReservations()" class="btn-nav">Reservas</button>
        <button class="nav-btn" (click)="goToClientes()">Clientes</button>
        <button class="nav-btn" (click)="goToInventario()">Inventario</button>
        <button class="nav-btn" (click)="goToProductos()">Productos</button>
        <button class="nav-btn" (click)="goToTareasHorarios()">Tareas y horarios</button>
        <button class="nav-btn" (click)="goToEmpleados()">Empleados</button>
        <button (click)="logout()">Cerrar sesión</button>

    </div>
</nav>

<main class="content">
    <div class="container">
        <h2>Bienvenido a Hotel App</h2>
    </div>
</main>
